.menu {
  width: 20%;
  min-width: 250px;
  background-color: rgba(20, 100, 180, 0.85);
  border-top: 0.1px solid rgba(20, 20, 20, 0.5); 
  border-right: 1px solid rgba(20, 20, 20, 0.5);
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.item-list {
  padding: 0;
  margin: 0;
  width: 100%;
}

.item-list * {
  text-decoration: none;
}

.item {
  width: auto;
  height: auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  text-decoration: none;
  padding: 5px 0;
}

.item .icon {
  flex: 10%;
}

.item .title {
  flex: 90%;
}

.item:hover, .subitem:hover {
  cursor: pointer;
  background-color: rgba(50, 50, 50, 0.85);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

#selected{
  border-right: 10px solid rgba(161, 177, 185, 0.73);
  background-color: rgba(20, 20, 20, 0.85);
}

.subitem {
  width: auto;
  height: auto;
  min-height: 2.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  text-decoration: none;
  padding: 5px 5px 5px 0;
}

.subitem-icon {
  flex: 10%;
  margin-left: 1rem;
}

.subitem-title {
  flex: 80%;
}