.menu {
  width: 20%;
  min-width: 250px;
  background-color: rgba(20, 100, 180, 0.85);
  border-top: 0.1px solid rgba(20, 20, 20, 0.5); 
  border-right: 1px solid rgba(20, 20, 20, 0.5);
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.item-list {
  padding: 0;
  margin: 0;
  width: 100%;
}

.item {
  height: 3rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 0;
}

.item .icon {
  flex: 10%;
}

.item .title {
  flex: 90%;
  padding-right: 0.4rem;
}

.item:focus, .l1_subcategory_item:focus, .l2_subcategory_item:focus {
  cursor: pointer;
  background-color: rgba(50, 50, 50, 0.85);
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
  padding-right: 0.3rem;
}

.l1_subcategory_item {
  width: auto;
  height: auto;
  min-height: 2.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.l1_subcategory_item-icon {
  flex: 10%;
  margin-left: 1rem;
}

.l1_subcategory_item-title {
  flex: 80%;
  padding-right: 0.4rem;
}

.l2_subcategory_item {
  width: auto;
  height: auto;
  min-height: 2.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.l2_subcategory_item-icon {
  flex: 20%;
  margin-left: 1rem;
}

.l2_subcategory_item-title {
  flex: 80%;
  padding-right: 0.4rem;
}

.selected{
  border-right: 0.4rem solid rgba(161, 177, 185, 0.73);
  background-color: rgba(20, 20, 20, 0.85);
  padding-right: 0.1rem;
}

.hidden {
  display: none;
}