.font-face-rbt-md {
  font-family: "Roboto-md";
}

.font-face-rbt-bl {
  font-family: "Roboto-bl";
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  overflow: hidden;
}

.navbar {
  height: 10vh;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.pages {
  display: block;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width:100%;
  overflow-y: auto;
}

footer {
  font-size: 14px;
  color: gray;
  margin: 15px 0;
}

h1 {
  font-size: 2.5rem;
  font-family: "Roboto-md";
}

h2 {
  font-size: 2rem;
  margin-top: 5rem;
  font-family: "Roboto-md";
}

h3 {
  font-size: 1.5rem;
  font-family: "Roboto-md";
}

h4 {
  font-size: 1.25rem;
  font-family: "Roboto-md";
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(100, 100, 100, 0.71);
}

::-webkit-scrollbar-track {
  background: rgb(202,202,202);
}