.font-face-rbt-md {
  font-family: "Roboto-md";
}

.font-face-rbt-bl {
  font-family: "Roboto-bl";
}

.font-face-rbt-rg {
  font-family: "Roboto-rg";
}

*{
  font-family: "Roboto-rg";
}

b{
  font-family: "Roboto-bd";
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  overflow: hidden;
}

.navbar {
  height: 10vh;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

footer {
  font-size: 14px;
  color: gray;
  margin: 15px 0;
}

h1 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-family: "Roboto-bl";
}

h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: "Roboto-md";
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Roboto-md";
}

h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-family: "Roboto-md";
}

